.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #2f9aea;
  // max-width: 1280px;
  // margin: 0 auto;
  position: fixed;
  inset-block-start: 0;
  width: 100%;
  z-index: 100;
  inset-inline-end: 0;
  height: 56px;
  .navbar-left {
    .logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;

      img {
        height: 30px;
        width: auto;
      }

      span {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
      }
    }
  }

  .navbar-right {
    .ant-btn-link {
      color: white;
      font-size: 14px;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }

      .anticon {
        font-size: 12px;
      }
    }
    .ant-space-item {
      font-size: 14px;
      flex: 1;
      .ant-select {
        width: 90px !important;
        .ant-select-selector {
          border: none;
          background-color: transparent;
          color: white;
          img {
            width: 15px;
            height: 15px;
          }
          &:active,
          &:focus,
          &:hover {
            border: none !important;
            box-shadow: none !important;
          }
        }
        &.ant-select-focused {
          .ant-select-selector {
            border: none !important;
            box-shadow: none !important;
          }
        }
        .ant-select-arrow {
          color: white;
        }
      }
      .notice-container {
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 8px;
        height: 32px;
        padding: 4px 15px;
        .ant-badge {
          width: 15px;
        }
      }
      .ant-btn-icon {
        width: 15px;
      }
    }
  }
}

.ant-select-item-option-content {
  .ant-space-item {
    font-size: 14px;
    img {
      width: 15px;
      height: 15px;
    }
  }
}

.profile-popover {
  p {
    cursor: pointer;
    margin: 0;
    padding: 5px;
    border-radius: 4px;
  }
  p:hover {
    color: rgba(0, 0, 0, 0.54);
    background-color: #f8f8f8;
  }
}

.profile-modal {
  .ant-space {
    flex-direction: column;
    gap: 8px !important;
    width: 100%;
    .ant-space-item {
      width: 100%;
      .ant-form-item {
        width: 100%;
        margin-bottom: 0;
        .ant-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          .ant-form-item-label {
            padding: 0;
            flex: 2;
          }
          .ant-form-item-control {
            .ant-btn {
              background: transparent;
              border: none;
            }
            flex: 8;
          }
        }
      }
    }
  }
}
