.details-region-page {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .details-region-container {
    // padding-top: 64px;
    .tab-container {
      padding-top: 56px;
      position: fixed;
      top: 0;
      bottom: 0;
      display: block;
      overflow-y: auto;
      width: 100%;
      max-width: 250px;
      padding-right: 1.5rem;
      padding-left: 1.5rem;

      .tab-button {
        padding: 10px 12px;
        border: none;
        background: #f0f0f0;
        cursor: pointer;
        font-size: 14px;

        span {
          margin-right: 5px;
        }

        &.active {
          border-bottom: 2px solid #0095ff;
          color: #0095ff;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .details-region-map {
    height: 100vh;
    margin-left: 250px;
    .map-container {
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .leaflet-container {
      height: 100vh !important;
    }
  }
}
