.details-region-page {
  // background-color: #fff;
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .details-region-container {
    // padding-top: 64px;
    .tab-container {
      padding-top: 56px;
      position: fixed;
      top: 0;
      bottom: 0;
      display: block;
      // overflow-y: auto;
      width: 100%;
      max-width: 250px;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      background-color: #fff;
      .tab-button-container {
        display: flex;
        box-shadow: 0px 4px 10px rgba(27.63, 7.97, 106.25, 0.25);
        .tab-button {
          padding: 10px 6px;
          border: none;
          background: #f0f0f0;
          cursor: pointer;
          font-size: 14px;
          flex: 1;
          span {
            margin-right: 5px;
          }

          &.active {
            border-bottom: 2px solid #0095ff;
            color: #0095ff;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
      .tab-content {
        width: 100%;
        margin-top: 10px;
        padding: 5px 10px;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(27.63, 7.97, 106.25, 0.25);
        .information-container {
          font-size: 14px;
          .information-title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .information-title {
              font-weight: 700;
              margin: 5px 0;
            }
          }
          .information-farm-container {
            padding: 0 10px;
            .information-farm-item {
              padding: 5px 0;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            }
            img {
              cursor: pointer;
            }
          }
        }
        .forecast-container {
          .forecast-sub-container {
            .forecast-form {
              display: flex;
              .ant-form-item {
                width: 168px;
                margin-bottom: 0;
                .ant-select-selector {
                  border-top-right-radius: 0;
                  border-bottom-right-radius: 0;
                }
              }
              .ant-btn {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
              }
            }
            .forecast-chart {
              width: 100%;
              min-height: 425px;
              max-height: 587px;
              margin-top: 10px;
              padding: 0 8px;
              font-size: 14px;
              .g2-tooltip {
                display: none !important;
              }
              .forecast-chart-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                  width: 7px;
                  height: 7px;
                  border-radius: 50%;
                }
              }
              .forecast-title {
                font-size: 14px;
                // text-align: center;
                margin-top: 10px;
                margin-bottom: 5px;
              }
              .forecast-data-scroll {
                max-height: 200px;
                overflow-y: auto;
                padding-right: 10px;
                .forecast-title-detail {
                  font-size: 13px;
                  margin-left: 3px;
                  p {
                    margin-bottom: 5px;
                    line-height: 20px;
                  }
                }
                &::-webkit-scrollbar {
                  width: 6px;
                }
  
                &::-webkit-scrollbar-track {
                  background: #f1f1f1;
                  border-radius: 3px;
                }
  
                &::-webkit-scrollbar-thumb {
                  background: #888;
                  border-radius: 3px;
  
                  &:hover {
                    background: #555;
                  }
                }
              }
              .ant-progress {
                height: 70px;
                width: 100%;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .details-region-map {
    height: 100vh;
    margin-left: 250px;
    .map-container {
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .leaflet-container {
      height: 100vh !important;
    }
  }
}
