.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../assets/pictures/backgroundLogin.png") no-repeat center
    center/cover;

  .register-box {
    background: white;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    h2 {
      text-align: center;
      margin-bottom: 10px;
      font-size: 18px;
    }

    p {
      text-align: center;
      margin-bottom: 24px;
      color: #8c8c8c;
      font-size: 12px;
    }

    .register-button {
      width: 100%;
      font-size: 14px;
    }

    .login-link {
      text-align: center;
      margin-top: 16px;
      font-size: 14px;
      a {
        cursor: pointer;
        color: #1890ff;
      }
    }

    .ant-pro-form-group-container {
      display: flex !important;
      gap: 10px !important;
      .ant-space-item {
        flex: 1;
        width: 100px;
      }
    }
  }
}
