.layoutOrderManagement {
    .orderTitle {
        color: #000;
        font-size: 15px;
        font-weight: 700;
        margin: 0;
    }
    .orderType {
        display: flex;
        gap: 13px;
        margin-top: 8px;
    .orderOption {
        height: 30px;
        width: 120px;
        padding: 5px 0;
        text-align: center;
        line-height: 22px;
        border-radius: 8px;
        cursor: pointer;
    }
    }
}